/* v Comment.js a MyComment.js */
.bg-light-grey {
  background-color: #f2f3f5;
  border-radius: 4%;
}

.bg-dark-grey {
  background-color: #dee2ed;
  border-radius: 4%;
}

.my-border-2 {
  border-width: 2px !important;
}

/* v Comment.js */
.with-spaces {
  white-space: pre-wrap;
}

/* v BonusInfo.js */
.break-long-word {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* v BonusPageView.js */
div.fixed {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
}
