.left-btn {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px;
}

.right-btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
